# General rules
.DS_Store
Thumbs.db
*.stackdump
.idea
.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json

# Gradle
.gradle/
build/
gradle-app.settings
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Exclude Node, Astro, and Vue (remove if not used)
.astro
docs/_book

# OS-specific
*.swp
*~
.nfs*

# Log and package files
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class files
*.class
