---
import sortifyHeader from "../assets/sortify-header.png";
---

<div>
    <header>
        <nav>
            <a href="/">
                <img src={sortifyHeader.src} alt="sortify logo" width="200" />
            </a>
            <div id="links">
                <a href="/">Home</a>
                <a href="https://docs.astro.build/en/develop-and-build/">Docs</a
                >
            </div>
        </nav>
    </header>
</div>

<style>
    nav {
        display: flex;
        border: 1px solid #000000;
        justify-content: center;
    }
</style>
