---
import astroLogo from "../assets/astro.svg";
---

<div>
    <header>
        <nav>
            <a href="/">
                <img src={astroLogo.src} alt="Astro logo" />
            </a>
            <div id="links">
                <a href="/">Home</a>
                <a href="https://docs.astro.build/en/develop-and-build/">Docs</a
                >
            </div>
        </nav>
    </header>
</div>
