<div id="container">
    <h1>Home page test</h1>
    <p>
        Sortify is an application designed to make it easier for the user to
        recycle and dispose of waste. It invcludes an interactive map which
        displays collection points in an easy to read way. You can also compete
        against your friends and family to figure out who among you are better
        at recycling
    </p>
</div>
