.mainContent {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    color: #D7D1C8;
    font-size: clamp(24px, 4vw, 48px);
    margin-top: 20px;
}
