---
import LeafletMap from "../../../components/Map/map.vue";
import Layout from "../../../layouts/BaseLayout.astro";

// Generate static paths for each language
export async function getStaticPaths() {
    return [
        { params: { lang: "en" } },
        { params: { lang: "no" } },
    ];
}
---

<Layout>
    <h1>Interactive map</h1>
    <LeafletMap client:only="vue" />
</Layout>
