---
import sortifyHeader from "../../../public/sortify-header.png";
---

<div id="container">
    <header>
        <nav>
            <a href="/" id="logo">
                <img src={sortifyHeader.src} alt="sortify logo" width="200" />
            </a>
            <div id="links">
                <a href="/" id="button">Home</a>
                <a href="/stats" id="button">Statistics</a>
                <a
                    href="https://docs.astro.build/en/develop-and-build/"
                    id="button">Docs</a
                >
            </div>
        </nav>
    </header>
</div>

<style>
    nav {
        display: flex;
        border: 1px solid #000000;
        text-align: center;
    }
    #id {
        display: block;
        margin: auto;
    }
    #links {
        margin-top: auto;
        margin-bottom: auto;
    }
    #button {
        color: #000000;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #button:hover {
        color: #4f7e52;
    }
    #logo {
        margin-top: auto;
        margin-bottom: auto;
        padding: 5px;
    }
</style>
