<main>
    <slot />
</main>

<style>
    body {
        font-family: "Poppins", sans-serif;
    }
    main {
    }

    @media screen and (max-width: 600px) {
        main {
            padding: 0 20px;
        }
    }
    @media screen and (min-width: 600px) {
        main {
            padding: 0 40px;
        }
    }
</style>
