.searchbar {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
}

.searchbarContainer {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border: 2px solid #3E4739;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.searchbarContainer:hover {
    background-color: #D7D1C8;
    font-weight: bold;
}

.searchbarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.listItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease, font-weight 0.2s ease;
}

.listItem:hover {
    background-color: #D7D1C8;
    font-weight: bold;
}

.listItem:active {
    background-color: #BEB7AC;
}
