---
import "../styles/global.css";
import Head from "../components/Global/Head/Head.astro";
import Header from "../components/Global/Header/Header.astro";

// Props from the parent
const { pageTitle, lang } = Astro.props;
---

<html lang={lang}>
  <Head title={pageTitle} />
  <body>
    <Header client:only="react" lang={lang} />
    <slot />
  </body>
</html>
