---
import "../styles/global.css";
import Header from "../components/Global/Header/Header.tsx";
import HeadComponent from "../components/Global/Head/Head.astro";
import enBaseLayout from "../locales/en/baseLayout.json";
import noBaseLayout from "../locales/no/baseLayout.json";

interface LayoutProps {
  lang: "en" | "no";
  pageTitle: string;
}

// Props from the parent
const { pageTitle, lang } = Astro.props as LayoutProps;

// Select the appropriate translation based on the `lang` prop
const baseLayoutTranslations = lang === "en" ? enBaseLayout : noBaseLayout;
---

<HeadComponent title={`Sortify - ${pageTitle}`} lang={lang} />
<body>
  <Header lang={lang} translations={baseLayoutTranslations} />
  <div class="main-content">
    <slot />
  </div>
</body>