---
// filepath: c:\Users\amali\VSCodeProjects\DAT251\DAT251-Sortify\frontend\src\components\Global\Home\Home.astro

const { lang } = Astro.props;
---

<div id="home-container">
  <h1>Welcome to Sortify!</h1>
  <p>This is the home page. The current language is {lang}.</p>
  <p>
      Sortify is an application designed to make it easier for the user to
      recycle and dispose of waste. It invcludes an interactive map which
      displays collection points in an easy to read way. You can also compete
      against your friends and family to figure out who among you are better
      at recycling
  </p>
</div>