---
import Layout from "../layouts/BaseLayout.astro";
import Home from "../components/Global/Home.astro";
import Header from "../components/Global/Header/Header.astro";
import Main from "../components/Global/Main.astro";
import LeafletMap from "../components/vue/map.vue";
---

<Layout>
  <Main>
    <Header />
    <Home client:only="react" />
    <LeafletMap client:only="vue" />
  </Main>
</Layout>
