---
import Layout from "../layouts/BaseLayout.astro";
import Main from "../components/Global/Main.astro";
import LeafletMap from "../components/Map/map.vue";

// Generate static paths for each language
export async function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "no" } },
  ];
}

// Get language from URL params (default to Norwegian)
const lang = (Astro.params.lang || "no") as "en" | "no";

// Set the page title based on languagæe
const pageTitle = lang === "en" ? "Home" : "Hjem";
---

<Layout lang={lang} pageTitle={pageTitle}>
  <Main>
    <LeafletMap client:only="vue" />
  </Main>
</Layout>

<!--
---
Astro.redirect("/no");
---
-->