---
import LeafletMap from "../components/map.vue";
import Layout from "../layouts/BaseLayout.astro";
---

<!-- This ensures the component runs only on the client -->
<Layout>
    <h1>Interactive map</h1>
    <LeafletMap client:only="vue" />
</Layout>
