---
import Layout from "../layouts/BaseLayout.astro";
import Main from "../components/Global/Main.astro";
import Statistics from "../components/Global/Stats.astro";
---

<Layout>
    <Main>
        <Statistics />
    </Main>
</Layout>
