.searchbar {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
}

.searchbarContainer {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border: 2px solid #3E4739;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.searchbarContainer:hover {
    background-color: #D5D5D5;
}

.searchbarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}