.hamburgerButton {
    width: 60px !important;
    height: 40px !important;
    background-color: #D9996B !important;
    border: 2px solid #3E4739 !important;
    border-radius: 9999px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


.hamburgerButton:hover {
    background-color: #B6CBBC !important;
}

.menuItem {
    color: #3E4739 !important;
}

.menuItem:hover {
    background-color: #D7D1C8 !important;
    font-weight: bold !important;
    color: #3E4739 !important;
}

