.hamburgerButton {
    width: 40px;
    height: 40px;
    border: 2px solid #0B540D;
    border-radius: 2px;
    background-color: #87C75C;
}

.hamburgerButton:hover {
    background-color: #6CA047;
}

/* Styling for the menu items */
.menuItem {
    color: #0B540D;
    font-weight: 600;
}

.menuItem:hover {
    background-color: #f0f0f0;
}