.footerContainer {
    width: 100%;
    background: #DBBC99;
    border-top: 3px solid #D9996B;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.logoImageFooter {
    width: 200px;
    margin-left: 30px;
}

.footerText {
    color: #3E4739;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: bold;
    margin-right: 30px;
    text-align: right;
    flex: 1;
}